* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

:root {
    --corPink: #ffcccc;
    --corBlack: #000000;
    --corWhite: #ffffff;
    --corGray: #808080;
}